<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.0-rc1a" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Custom" version="1.2.0-rc1a" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="OWebHooks" version="1.2.0-rc1a" targetFramework="net46" />
</packages>